<main>
	<h1>Welcome to the OuterLAN!</h1>

  <h3 style="font-weight: normal;" class="text">This guide will help you get setup on the network</h2>


<br>

	<h2>Install the Root CA</h2>

	  <p>This allows your computer to trust OuterLAN sites for HTTPS.</p>

	  <a class="btn" href="https://lan.outernet.hackclub.com/outerlan_ca.crt">Download</a>
    <br><br>
	  <div class="alert">
      <strong>Warning!</strong> You won't be able to access any .outernet sites without the CA installed.
    </div>
	  <h3>OS Instructions</h3>
	  <br>
	  <div class="tabbable tabs-left">
	  	<ul class="nav nav-tabs">
			<li class="active"><a href="#ca-linux" data-toggle="tab">Linux</a></li>
			<li><a href="#ca-macos" data-toggle="tab">macOS</a></li>
      <li><a href="#ca-windows" data-toggle="tab">Windows</a></li>
      <li><a href="#ca-ios" data-toggle="tab">iOS & iPadOS</a></li>
      <li><a href="#ca-android" data-toggle="tab">Android</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="ca-linux">
	        		<div class="tabbable tabs-left">
      		  			<ul class="nav nav-tabs">
      		    				<li class="active"><a href="#ca-fedora" data-toggle="tab">Fedora</a></li>
      		    				<li><a href="#ca-ubuntu" data-toggle="tab">Ubuntu</a></li>
      		    				<li><a href="#ca-nix" data-toggle="tab">NixOS</a></li>
      		    				<li><a href="#ca-arch" data-toggle="tab">Arch</a></li>
      		    				<li><a href="#ca-suse" data-toggle="tab">openSUSE</a></li>
     			  		</ul>

     			  		<div class="tab-content">
     			    			<div class="tab-pane active" id="ca-fedora">
									<h3>Run these commands:</h3>
<pre>
<code>
curl https://lan.outernet.hackclub.com/outerlan_ca.crt -o outerlan_ca.crt
sudo mv ./outerlan_ca.crt /etc/pki/ca-trust/source/anchors/
sudo update-ca-trust
</code>
</pre>

									<h3>Or do it manually:</h3>
									<p>Move the certificate you downloaded to <code>/etc/pki/ca-trust/source/anchors/</code>
									<br><br>Then run <code>update-ca-trust</code> in your shell as root to refresh the list.<br><br>You can run <code>trust list | less</code> and look for "OuterLAN Root CA" to check.</p>
									<br>
								</div>

              					<div class="tab-pane" id="ca-ubuntu">
									<h3>Run these commands:</h3>
<pre>
<code>
curl https://lan.outernet.hackclub.com/outerlan_ca.crt -o outerlan_ca.crt
sudo mv ./outerlan_ca.crt /usr/local/share/ca-certificates/
sudo update-ca-certificates
</code>
</pre>
								  
									<h3>Or do it manually:</h3>
                        			<p>Move the certificate you downloaded to <code>/usr/local/share/ca-certificates/</code>
                			  		<br><br>Then run <code>update-ca-certificates</code> in your shell as root to refresh the list.</p>
              					</div>

                      			<div class="tab-pane" id="ca-nix">
                          			<p>Update your configuration.nix with <br> <code>security.pki.certificateFiles = [ "/root/cert" ];</code>, with /root/cert replaced with wherever you downloaded the certificate</p>
     			  				</div>

								<div class="tab-pane" id="ca-arch">
									<h3>Run these commands:</h3>
<pre>
<code>
curl https://lan.outernet.hackclub.com/outerlan_ca.crt -o outerlan_ca.crt
sudo mv ./outerlan_ca.crt /etc/ca-certificates/trust-source/anchors/
sudo update-ca-trust
</code>
</pre>
									
									<h3>Or do it manually:</h3>
									<p>Move the certificate you downloaded to <code>/etc/ca-certificates/trust-source/anchors/</code>
									<br><br>Then run <code>update-ca-trust</code> in your shell as root to refresh the list.<br><br>You can run <code>trust list | less</code> and look for "OuterLAN Root CA" to check.</p>
								</div>

								<div class="tab-pane" id="ca-suse">
									<h3>Run these commands:</h3>
<pre>
<code>
curl https://lan.outernet.hackclub.com/outerlan_ca.crt -o outerlan_ca.crt
sudo mv ./outerlan_ca.crt /usr/share/pki/trust/anchors/
sudo update-ca-certificates
</code>
</pre>
									
									<h3>Or do it manually:</h3>
                        			<p>Move the certificate you downloaded to <code>/usr/share/pki/trust/anchors/</code>
                			  		<br><br>Then run <code>update-ca-certificates</code> in your shell as root to refresh the list.</p>
              					</div>
						</div>

   				 </div>
   			</div>
   			<div class="tab-pane" id="ca-macos">
				<h3>Run these commands:</h3>
<pre>
<code>
curl https://lan.outernet.hackclub.com/outerlan_ca.crt -o outerlan_ca.crt
sudo security add-trusted-cert -d -r trustRoot -k /Library/Keychains/System.keychain ./outerlan_ca.crt
</code>
</pre>

				<h3>Or do it manually:</h3>
				<p> Run the command <code>sudo security add-trusted-cert -d -r trustRoot -k /Library/Keychains/System.keychain new-root-certificate</code> with new-root-certificate replaced with the path to the downloaded CA.</p>
				<br>
				<h3>Or use Keychain Access:</h3>
				<p>Open the <b>Keychain Access</b> app and drag the downloaded CA into the <i>Certificates</i> section</p>
			</div>
   			<div class="tab-pane" id="ca-windows">
				<h3>Run these commands(powershell):</h3>
<pre>
<code>
Invoke-WebRequest -URI https://lan.outernet.hackclub.com/outerlan_ca.crt -OutFile outerlan_ca.crt
Import-Certificate -FilePath .\outerlan_ca.crt -CertStoreLocation Cert:\LocalMachine\Root 
</code>
</pre>

<h3>Run these commands(CMD as admin):</h3>
<pre>
<code>
curl https://lan.outernet.hackclub.com/outerlan_ca.crt -o outerlan_ca.crt
certutil.exe -addstore root .\outerlan_ca.crt
</code>
</pre>

				<h3>Or do it manually:</h3>
				<p> Run <code>Import-Certificate -FilePath "new-root-certificate" -CertStoreLocation Cert:\LocalMachine\Root</code> in powershell as admin with new-root-certificate replaced with the path to the downloaded CA. </p>
				</br>
				<p> If that doesn\'t work, try <code>certutil.exe -addstore root new-root-certificate</code> in cmd as admin with new-root-certificate replaced with the path to the downloaded CA.</p>
			</div>
   			<div class="tab-pane" id="ca-ios">
			   	<p>Follow these instructions:</p>
				<ol>
					<li>Find the downloaded CA in the Files app and open it (*do not open the file from the browser as it will not install it as a system certificate).</li>
					<li>Under Choose a Device, select Iphone</li>
					<li>Go to the settings app and select profile download from the main page</li>
					<li>On the install profile page, click install.</li>
					<li>Click install again on the warning screen.</li>
					<li>To verify it is installed, go to settings > General > VPN & Device Management</li>
				</ol>
			</div>
   			<div class="tab-pane" id="ca-android">
				<p>Follow these instructions:</p>
				<ol>
					<li>Open your device\'s Settings app.</li>
					<li>Tap Security & privacy And then More security settings and then Encryption & credentials.</li>
					<li>Tap Install a certificate And then CA certificate.</li>
					<li>Click Install Anyway</li>
					<li>Find the downloaded CA</li>
					<li>To verify it is installed go to Trusted credentials under Encryption & credentials and check the user tab.</li>
				</ol>
			</div>
   		</div>
   	</div>
   	<br>

  <div class="alert alert-info">
    If you are unable to install the CA on your machine, or experiencing issues, follow the instructions below to install it in just your browser.
  </div>

  <h3>Browser Instructions</h3>
	  <br>
	  <div class="tabbable tabs-left">
	  	<ul class="nav nav-tabs">
			<li class="active"><a href="#ca-firefox" data-toggle="tab">Firefox</a></li>
			<li><a href="#ca-chromium" data-toggle="tab">Chromium</a></li>
      <li><a href="#ca-safari" data-toggle="tab">Safari</a></li>
      <li><a href="#ca-epiphany" data-toggle="tab">GNOME Web</a></li>
		</ul>
		<div class="tab-content">
   			<div class="tab-pane active" id="ca-firefox">
				<p>Follow these Instructions:</p>
				<ol>
					<li>Type <code>about:preferences#privacy</code> into the adress bar (this will just go to privacy and security in settings)</li>
					<li>Scroll down to Certificates and click View Certificates</li>
					<li>Go to the Authorities Tab</li>
					<li>Click import and find the downloaded CA</li>
				</ol>
			</div>
   			<div class="tab-pane" id="ca-chromium">
			   	<p>Follow these Instructions:</p>
				<ol>
					<li>Type <code>chrome://settings/certificates</code> into the adress bar (The certificates page)</li>
					<li>Click on the Authorities tab and click import</li>
					<li>Open the downloaded CA</li>
				</ol>
			</div>
   			<div class="tab-pane" id="ca-safari">Safari uses the system keychain so add it using the instructions in macOS or IOS</div>
   			<div class="tab-pane" id="ca-epiphany">
				<p>Web does not have built-in support for certificate management at this time.</p>
				</br>
				<p>However you can add a certificate with <code>sudo trust anchor new-root-certificate</code> where new-root-certificate is the path to the downloaded CA if you have p11-kit installed.</p>
			</div>
   		</div>
   	</div>

	<h2>Create an OuterLAN Account</h2>

	<p>You'll use this to log on to the tilde and elsewhere on the net.</p><br>

	<%= form_with url: "/create_account", method: :post do |form| %>
    <%= form.label :name, "Full Name" %>
    <%= form.text_field :name %>
    <br>

    <%= form.label :username, "Username" %>
    <%= form.text_field :username %>
    <br>

    <%= form.submit "Create Account" %>

  <% end %>

  <h2>You're done!</h2>

  <p>Feel free to continue on, or explore the other OuterLAN services</p>

</main>

